<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para leer los archivos de audio del almacenamiento externo -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Permiso específico para leer los archivos de audio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Permiso esencial para declarar cualquier Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Permiso necesario para usar el tipo de Foreground Service de reproducción de medios (API 34/Android 14+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reproductor_gemini">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración del nuevo MusicService -->
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:targetApi="34"/>

    </application>

</manifest>